:root {
  --toolbar-background-blue: linear-gradient(
    rgb(24, 103, 228),
    rgb(54, 120, 226) 30%,
    rgb(37, 105, 214) 50%,
    rgb(0, 58, 151)
  );
  --toolbar-background-extrablue: linear-gradient(
    rgb(57, 131, 248),
    rgb(84, 145, 242) 30%,
    rgb(67, 134, 243) 50%,
    rgb(26, 88, 187)
  );

  --toolbar-background-red: linear-gradient(
    rgb(228, 24, 24),
    rgb(226, 54, 54) 30%,
    rgb(214, 37, 37) 50%,
    rgb(151, 0, 0)
  );

  --toolbar-background-extrared: linear-gradient(
    rgb(248, 57, 57),
    rgb(242, 84, 84) 30%,
    rgb(243, 67, 67) 50%,
    rgb(187, 26, 26)
  );

  --toolbar-background-green: linear-gradient(
    rgb(62, 199, 10),
    rgb(75, 219, 20) 30%,
    rgb(65, 200, 14) 50%,
    rgb(31, 111, 0)
  );

  --toolbar-background-extragreen: linear-gradient(
    rgb(85, 233, 29),
    rgb(89, 235, 33) 30%,
    rgb(77, 214, 24) 50%,
    rgb(47, 149, 7)
  );

  --toolbar-background-gray: linear-gradient(
    rgb(141, 141, 141),
    rgb(170, 170, 170) 30%,
    rgb(150, 150, 150) 50%,
    rgb(73, 73, 73)
  );

  --toolbar-background: var(--toolbar-background-blue);
  --toolbar-button-background: var(--toolbar-background-blue);
  --toolbar-button-active-background: var(--toolbar-background-extrablue);
  --drop-shadow: drop-shadow(0 -1px 0px #00000044);
}

.toolbar {
  background: var(--toolbar-background);
  width: 100%;
  display: flex;
}

.toolbar__spacer {
  flex-grow: 1;
}
