.item-list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
}

.item--slide {
  transition: 0.3s;
}

.item--exit {
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.4s;
}
