.item {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  justify-content: middle;
}

.item > button {
  flex-shrink: 0;
}

.item.item--done {
  background: rgb(241, 241, 241);
  & .item__text {
    color: rgb(185, 185, 185);
  }
}

.item__text {
  flex: 1 1 auto;
  color: rgb(75, 75, 75);
  font-size: 1.2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 0.3rem;
  height: 2rem;
  line-height: 2rem;
}

.item__text-input {
  box-sizing: border-box;
  border: none;
  flex: 1 1 auto;
  height: 2rem;
  color: rgb(75, 75, 75);
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
  padding-left: 0.3rem;
}

.item[data-dndcurrentdragged] {
  z-index: 4000;
  box-shadow: 0 0 15px #00000044;
}

.item__edit-button {
  --icon-button-filter: none;
  --button-border-color: rgb(217, 217, 217);
  --button-background: rgb(255, 255, 255);
  --button-color: rgb(196, 196, 196);
  --button-active-background: rgb(248, 129, 0);
  --button-active-border-color: rgb(195, 101, 0);
}
