* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Arial, sans-serif;
  font-size: 16px;
  overscroll-behavior: none;
}
html,
body {
  width: 100%;
  height: 100%;
  position: relative;
}

.main__container {
  /* background: rgb(245, 232, 217);
 */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom: 6rem;
}

.main__fixed-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4rem;
  box-shadow: 0 -2px 7px #00000068;
  z-index: 2000;
}
