.toolbar-button.button {
  position: relative;
  background: var(--toolbar-button-background);
  flex: 0 0 4.5rem;
  border-radius: 0;
  border: none;
  height: 100%;
  padding: 0.7rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  gap: 0.8rem;

  border: none;
  border-left: 1px #ffffff2b solid;
  border-right: 1px #00000031 solid;
  &:first-child {
    border-left: none;
  }
  &:last-child {
    border-right: none;
  }
}

.toolbar-button.button--active,
.toolbar-button.button:active {
  background: var(--toolbar-button-active-background);
  border-color: transparent;
}

.toolbar-button--red {
  --toolbar-button-background: var(--toolbar-background-red);
  --toolbar-button-active-background: var(--toolbar-background-extrared);
}
.toolbar-button--green {
  --toolbar-button-background: var(--toolbar-background-green);
  --toolbar-button-active-background: var(--toolbar-background-extragreen);
}

.toolbar-button.button:disabled {
  border: none;
  border-left: 1px #ffffff2b solid;
  border-right: 1px #00000031 solid;
  --toolbar-button-background: var(--toolbar-background-gray);
  background: var(--toolbar-button-background);
}

.toolbar-button__text {
  font-size: 0.75rem;
  filter: var(--drop-shadow);
}
.toolbar-button__icon {
  font-size: 1.2rem;
  filter: var(--drop-shadow);
}
.toolbar-button__alerts {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  font-size: 0.7rem;
  line-height: 1rem;
  background: rgb(211, 29, 29);
  padding: 0 0.3rem;
  border-radius: 1rem;
  text-shadow: 0 -1px 0px #00000055;
}
